@use "../colours" as c;

.authors {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.moreBtn {
    border: none;
    box-sizing: border-box;
    background: none;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    color: #333842;
    font-size: medium;
}

.moreBtn:hover {
    color: gray;
}

.ref {
    display: flex;
    flex-direction: row;
}


.papers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paper {
    padding: 3px;
}

.abstract {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}