@use "../colours" as c;

.authors {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.ref {
    display: flex;
    flex-direction: row;
}


.papers {
    display: flex;
    flex-direction: column;
}

.paper {
    padding: 0;
    margin: 0;

    p {
        line-height: 1em;
        margin: 0.5em;
    }
}

.abstract {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}