.root {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pfp {
        position: relative;
        flex-grow: 1;
        aspect-ratio: 2437/2618;
        margin: 20px;
    }
}

.icon {
    position: relative;
    width: 1em;
    height: 1em;
}

.flexFiller {
    flex-grow: 1;
}

.info {
    margin-left: 20px;
}


.externalContacts {
    border: 3px solid gray;
    padding: 10px;

    .contactHeader {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.externalContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.botContacts {
    display: none;
}


@media screen and (max-width: 710px) {
    .topContacts {
        display: none;
    }

    .botContacts {
        display: block;
    }
}