@use "../colours" as c;

$borderW: 6px;

.root {
    color: black;
    border-top-width: $borderW;
    border-top-style: solid;
    border-top-color: #00000000;
    border-radius: 5px;

    a,
    a:visited {
        color: unset;
        text-decoration: none;
    }
}


.active {
    border-top-width: $borderW;
    border-top-color: c.$highlight;
    border-top-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media (hover: hover),
(pointer: fine) {
    .root:hover {
        border-top-color: gray;
        transition: 100ms;
    }
}