.root {
    color: black;
}

.active::before {
    height: 2px;
    width: 100%;
    background-color: red;
}

.active {
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: gray;
    border-style: solid;
}

/*.root:hover {
    color: gray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
}*/