@use "../colours" as c;

$borderW: 6px;

.root {
    color: black;
    border-top-width: $borderW;
    border-top-style: solid;
    border-top-color: #00000000;

    a,
    a:visited {
        color: unset;
        text-decoration: none;
    }
}


.active {
    border-top-width: $borderW;
    border-top-color: c.$highlight;
    border-top-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*.root:hover {
    color: gray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
}*/